$main-font : "Poppins-Regular";
$tasks-font : "Poppins-Light";
$heading-font: "Poppins-Bold";
$btns-border-radius: 4px;

$base-font-size: 14px;
$heading-font-size: 24px;
$small-font-size: 12px;
$button-font-size: 16px;
$nav-font-size: 14px;

$main-color: #db4e4e;
$hovered-color: #7a2121;

$welcome-background-color: white;
$welcome-background-color-dark: rgb(44, 44, 44);

$extra-small-devices: 576px;
$small-devices: 768px;
$medium-devices: 992px;
$large-devices: 1200px;

