@use '../helpers/variables' as vars;
@use '../helpers/mixins' as mixins;

.welcome-page {
  width: 92%;
  margin: auto;
  display: grid;
  padding: 20px;
  // border: 1px solid green;
  min-height: calc(100vh - 100px);
  background-color: white;
  @include mixins.center;


  .intro-text {
    // border: 1px solid purple;
    align-self: stretch;
    border-left: 1px solid rgb(192, 190, 190);
    padding: 0px 10px 0px 10px;
    flex-direction: column;
    max-width: 40%;
    @include mixins.center;

    h2 {
      text-align: center;
      font-family: vars.$heading-font;
      font-size: vars.$heading-font-size;
    }

    p{
      font-family: vars.$main-font;
    }

    img {
      width: 40%;
    }
  }

  .form{
    align-self: stretch;
    width: 100%;
    flex-direction: column;
    h1 {
      font-family: vars.$heading-font;
    }
  }

}


@media screen and (max-width: vars.$medium-devices) {

  .welcome-page {
    .intro-text  {
      display: none;
    }

    .form {
      width: 90%;
      border: none;
    }
  }
}
